.card-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin-left: 160px; 
    width: calc(100% - 160px); 
    padding: 10px;
}

.card {
    flex: 0 0 calc(33.333% - 40px); 
    min-width: 250px;
    height: auto;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

@media  screen and (max-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 40px);  /* 2 cards per row on medium screens */
    }
}
@media (max-width: 480px) {
    .card {
        flex: 0 0 calc(100% - 40px); /* 1 card per row on small screens */
    }
}

.card-img{
    height: 120px;
    width: 160px;
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 10px;
}

.card-reviews {
    margin-bottom: 10px;
    display: flex;
}

.ratings-start {
    color: #d5d5d5;
}

.total_reviews {
    font-size: 10px;
    margin-left: 10px;
}

.card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag-icon {
    color: #535353;
}